// these are colors variable
$color-primary:#33FFBD;
$color-primary-light:#75FF33;
$color-primary-dark:#33FFF0;

$color-secondary-light-1:#ffb900;
$color-secondary-light-2:#ff7730;

$color-tertiary-light-1:#2998ff;
$color-tertiary-light-2:#5643fa;



$color-grey-light-1:#f7f7f7;
$color-grey-dark:#777777;
$color-grey-dark-2:#999;
$color-heavy-grey:#141414;
$color-grey-light-2:#eee;
$color-grey-dark-3:#333;
$color-gray-light:#f1f1f1;

$color-white:#fff;
$color-black:#000; 

//variables for grid
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;

//font sizes 
$default-font-size: 1.6rem;