.feature-box{
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding:2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem 0 rgba($color-black, .15);
    transition: all 1s ease;

    
    &__icon{
        font-size:6rem;
        margin-bottom:.5rem;
        display: inline-block;
        background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        -mos-background-clip: text;
        -o-background-clip: text;
        -ms-background-clip: text;
        color: transparent;
        
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
    &__text{
        background: transparent; // this was to hold this place it might later be changed to suite the need ...paullaster
    }
}