.form{
    
    &__grp:not(:last-child){
        margin-bottom: 4rem;
    }

    &__input{
        font-family:inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        color:inherit;
        border-radius:.2rem;
        background-color:rgba($color-white, .65);
        border:none;
        border-bottom: .3rem solid transparent;
        width:90%;
        display:block;
        transition: all 1s ease;

        &::-webkit-input-placeholder{
            color:$color-grey-dark-2;
        }
       
    

        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem 0 rgba($color-black, .15);
            border-bottom: .3rem solid $color-primary;

            &:invalid{
                border-bottom: .3rem solid $color-secondary-light-2;
            }
        }
    }
    
   
    &__label{
        font-size:1.2rem;
        font-weight:700;
        margin-left:2rem;
        margin-top:.7rem;
        display:block;
        transition:all .5s ease;
    }
    &__input:placeholder-shown + &__label{
       opacity:0;
       visibility:hidden;
       transform:translateY(-4rem);
    }
    &__radio-grp{
        width:40%;
        display:inline-block;

       
    }
    &__radio-label{
        font-size:$default-font-size;
        cursor:pointer;
        position:relative;
        padding-left:4rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        border-radius:50%;
        display:inline-block;
        position:absolute;
        top:-.7rem;
        left:0;

        &::after{
            content:"";
            height:1.3rem;
            width:1.3rem;
            display:inline-block;
            border-radius:50% ;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50% ,-50%);
            background-color:$color-primary;
            opacity: 0;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity:1;
        transition: opacity 1s ease;
    }
    &__radio-input{
        display: none;
    }
}
