// the basic defination about the page are contained here

*, *::after, *::before{    //styles here are reset styles. are used to reset the page.
    margin: 0;       
    padding: 0;
    box-sizing: inherit;
}
//the root element style defines the base fonts for every page thus sorted in the _base file
html{
    // this defines the equavalence of 1rem
    font-size: 62.5%;  // 1rem = 10px, 10/16px = 62.5%.  16px i the default font-size set on the browser.
  

    @include respond(bit-srcn){
        font-size: 75%; // 1rem = 12px ; 12/16px = 75%
    }

@include respond(tab-land){
    font-size: 56.25%;  // 1rem  = 9px , 9/16px = 56.25%
}

  @include respond(tab-port){
    font-size: 50%;     // 1rem = 8px, 8/16px = 50%
}


@include respond(phone){
    font-size: 43.75%;  // 1rem = 7px, 7/16px = 43.75%
}

}
body{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){
        padding:0;     // 1rem = 8px, 8/16px = 50%
    }
}

::selection{
    background-color: $color-primary;
    color: $color-white;
}