//all headings are sorted in the typography file

// all the body styles that relate to typography are sorted in the typography file
body{
font-family: "lato" , sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
    
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px;

   
   
   
    &--main{
       display: block;
       font-size: 6rem;
       font-weight: 400;
       letter-spacing: 4rem;
       animation-name: moveInLeft;
       animation-duration: 5s;
       animation-timing-function: ease-out;

       @include respond(tab-port){
        letter-spacing: 2rem;
        font-size: 5rem;
    }
    @include respond(phone){
        letter-spacing: 1rem;
        font-size:4rem;
    }
       /*
       animation-delay: 2s;
       animation-iteration-count: 3;
       */
      }
      &--sub{
       display: block;
       font-size: 2rem;
       font-weight: 70rem;
       letter-spacing: 1.8rem;
       animation-name: moveInRight;
       animation-duration: 5s;
       animation-timing-function: ease-in;

       @include respond(tab-port){
        letter-spacing: 1.5rem;
       
    }
    @include respond(phone){
        letter-spacing: .8rem;
        
    }
      }
   }
   .heading-secondary{
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        letter-spacing: .2rem;
        transition: all .2s ease;
        color:$color-primary-light;


        @supports ( background-clip: text) or ( -webkit-background-clip: text) or ( -moz-background-clip: text) or (  -ms-background-clip: text) or ( -o-background-clip: text){
            background: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
        -ms-background-clip: text;
        color: transparent;
        }


         &:hover{
             transform: skewY(2deg) skewX(15deg) scale(1.1);
             text-shadow: .5rem 1rem 2rem rgba($color-black,  .2);
         }

         @include respond(tab-port){
             font-size: 2.5rem;
         }

         @include respond(phone){
            font-size: 1rem;
            letter-spacing:0;
            font-weight:900;
        }
   }
   .heading-tertiary{
       font-size: $default-font-size;
       font-weight: 700;
       text-transform: uppercase;
   }
   .paragraph{
       font-size: $default-font-size;
       &:not(:last-child){
           margin-bottom: 3rem;
       }
   }